<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ListTask</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main class="container">
    <header class="row text-center">

    </header>
    <section class="row">
        <div class="col mt-4">
            <div class="card">
                <div class="card-header">
                    Welcome <span  th:text="${loggedInUser.username }"></span>

                    <a th:href="@{/logout}" type="submit">Logout</a>
                    <h2 class="text-center"> List Task</h2>
                </div>
                <div class="taskbar">
                    <div class="float-left flex">
                        <div class="btn-ep">
                            <a th:href="@{/list/export}" class="btn btn-secondary">Export CSV</a>
                        </div>
                        <div class="btn-add">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                                    class="material-icons">&#xE147;</i> <span>Tạo mới</span></a>
                        </div>
                    </div>
                    <div class="float-right flex">
                        <form th:action="@{/admin/pageTask}" method="get">
                            <div class="search">
                                <input type="text" th:value="${#request.getParameter('title')}" name="title" placeholder="Từ khóa"/>
                                <!-- Keyword lấy theo parameter  -->
                                <th:block th:if="${#request.getParameter('status') != null && !#request.getParameter('status').equals('')}">
                                    <input type="hidden" name="status" th:value="${#request.getParameter('status')}">
                                </th:block>
                                <button type="submit" class="btn btn-info">Tìm kiếm</button>
                            </div>
                        </form>

                        <div class="drop dropdown show float-right">
                            <a th:text="${(#request.getParameter('status') != null && !#request.getParameter('status').equals('')) ? #request.getParameter('status').replace('-', ' ') : 'All'}"  class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Open
                            </a>

                               <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>-->
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" th:href="@{/admin/pageTask(title=${#request.getParameter('title')}, status='Open')}">Open</a></li>
                                    <li><a class="dropdown-item" th:href="@{/admin/pageTask(title=${#request.getParameter('title')}, status='Inprogress')}">Inprogress</a></li>
                                    <li><a class="dropdown-item" th:href="@{/admin/pageTask(title=${#request.getParameter('title')}, status='Done')}">Done</a></li>
                                    <li><a class="dropdown-item" th:href="@{/admin/pageTask(title=${#request.getParameter('title')}, status='')}">All</a></li>
                                </ul>

                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row" th:if="${!tasks.hasContent()}">
                        <div class="col">
                            <div class="alert alert-primary" role="alert">
                                <strong>No Task Found</strong>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-inverse" th:if="${tasks.hasContent()}">
                        <thead class="thead-inverse">
                        <tr>
                            <th width="5%">ID</th>
                            <th width="30%">Tiêu Đề</th>
                            <th width="25%">Trạng thái</th>
                            <th width="50%">Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each=" list : ${tasks} ">
                            <td scope="row" th:text="${list.id}"></td>
                            <td scope="row" th:text="${list.title}"></td>
                            <td th:text="${list.status}"></td>
                            <td>
                                <a class="detailTask btn btn-outline-info" href="#detailEmployeeModal" data-toggle="modal"><!--<i class="fa-solid fa-circle-info"></i>-->
                                    Chi tiết</a>
                                <a href="#editEmployeeModal" class="editTask btn btn-outline-warning"
                                   data-toggle="modal">Chỉnh sửa</a>
                                <a href="#deleteEmployeeModal"
                                   th:onclick="titleDelete([[${list.id}]],[[${list.title}]])"
                                   class="delete btn btn-outline-danger" data-toggle="modal">Xóa</a>
                                <input type="hidden" id="id" th:value="${list.id}">
                                <input type="hidden" id="userid" th:value="${list.title}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-footer text-muted">
                    <nav aria-label="Page navigation" class="float-right">
                    <a class="btn" th:classappend="${tasks.number <= 0 ? 'disabled' : ''}" th:href="@{/admin/pageTask(page=${tasks.number}, title=${#request.getParameter('title')}, status=${#request.getParameter('status')})}"><<</a>
                    <a class="btn" th:if="${tasks.number == tasks.totalPages - 1 && tasks.totalPages >= 3}" th:href="@{/admin/pageTask(page=${tasks.number - 1}, title=${#request.getParameter('title')}, status=${#request.getParameter('status')})}" th:text="${tasks.number - 1}"></a>
                    <a class="btn" th:if="${tasks.number - 1 >= 0}"  th:href="@{/admin/pageTask(page=${tasks.number}, title=${#request.getParameter('title')}, status=${#request.getParameter('status')})}" th:text="${tasks.number}" ></a>
                    <a class="btn disabled" th:if="${tasks.number <= tasks.totalPages}" th:href="@{/admin/pageTask(page=${tasks.number + 1}, title=${#request.getParameter('title')}, status=${#request.getParameter('status')})}" th:text="${tasks.number + 1}"></a>
                    <a class="btn" th:if="${(tasks.number + 2 <= tasks.totalPages)}" th:href="@{/admin/pageTask(page=${tasks.number + 2}, title=${#request.getParameter('title')}, status=${#request.getParameter('status')})}" th:text="${tasks.number + 2}"></a>
                    <a class="btn" th:if="${(tasks.number == 0) && (tasks.totalPages >= 3)}" th:href="@{/admin/pageTask(page=${tasks.number + 3}, title=${#request.getParameter('title')}, status=${#request.getParameter('status')})}" th:text="${tasks.number + 3}"></a>
                    <a class="btn" th:classappend="${tasks.number < tasks.totalPages - 1 ? '' : 'disabled'}" th:href="@{/admin/pageTask(page=${tasks.number + 2}, title=${#request.getParameter('title')}, status=${#request.getParameter('status')})}">>></a>
                    </nav>
                </div>
            </div>

        </div>
    </section>
</main>
<!-- Add Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/create-task}" method="POST">
                <div class="modal-header">
                    <a th:href="@{/admin/create-task/}" class="modal-title">Tạo mới</a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control" required name="title">
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        <input type="text" class="form-control" required name="content">
                    </div>
                    <!--      <div class="form-group">
                              <label>Trạng thái</label>
                              <input type="text" class="form-control" required name="status" >
                          </div>-->
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy bỏ">
                    <input type="submit" class="btn btn-success" value="Thêm">
                    <input type="hidden" name="userId" th:value="${loggedInUser.id}">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/update-task}" method="POST">
                <div class="modal-header">
                    <a th:href="@{/admin/update-task/}" class="modal-title">Chỉnh sửa Task</a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control titleUpdate" id="title" name="title" required>
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        <input type="text" class="form-control contentUpdate" id="content" name="content" required>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <!--                        <textarea class="form-control statusUpdate" id="status" name="status" required></textarea>-->
                        <select id="status" class="status" name="percentage">
                            <option name="status" id="status1">Open</option>
                            <option name="status" id="status2">Inprogress</option>
                            <option name="status" id="status3">Done</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy bỏ">
                    <input type="submit" class="btn btn-info" value="Lưu">
                    <input type="hidden" id="id" name="id" readonly>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- Detail Modal HTML -->
<div id="detailEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <a class="modal-title" style="color: #007bff;">Chi tiết Task</a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                   <!-- <div class="form-group">
                        <label>Tiêu đề</label>
                        <input type="text" id="title" class="form-control titleUpdate" name="title" required>
                    </div>
                    <div class="form-group">
                        <label>Nội dung</label>
                        <input type="text" class="form-control contentUpdate" id="content"  name="content" required>
                    </div>-->
                    <div class="form-group green-border-focus">
                        Tiêu đề:
                        <input id="title" class="detail_ip">
                        <p style="margin-bottom: 3px"><u><i>Thông tin chi tiết</i></u></p>
                        <div class="form-group green-border-focus">
                            <textarea class="form-control detail_ta"  id="content" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy bỏ">
                    <!--<input type="submit" class="btn btn-info" value="Lưu">-->
                    <input type="hidden" id="id" name="id" readonly>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/delete-task}" method="POST">
                <div class="modal-header">
                    <a th:href="@{/admin/delete-task/}" class="modal-title">Xóa Task</a>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa <span class="titleDelete"></span></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy bỏ">
                    <input type="submit" class="btn btn-danger" value="Xóa">
                    <input type="hidden" name="id" id="id" readonly>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
<!--  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script> -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>


<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootpag/1.0.4/jquery.bootpag.min.js"></script>

<script>
    $(document).ready(function () {
        // Activate tooltip

        $('[data-toggle="tooltip"]').tooltip();

        $('table .delete').on('click', function () {
            var id = $(this).parent().find('#id').val();
            $('#deleteEmployeeModal #id').val(id);

        });

        $('table .editTask').on('click', function () {

            var id = $(this).parent().find('#id').val();
            jQuery.ajax({
                type: 'GET',
                url: '../api/task2/' + id,
                success: function (task) {
                    console.log("Task: " + task.title);
                    $('#editEmployeeModal #id').val(id);
                    $('#editEmployeeModal #title').val(task.title);
                    $('#editEmployeeModal #content').val(task.content);
                    $('#editEmployeeModal #status').val(task.status);
                }
            });
        });
        $('table .detailTask').on('click', function () {
            var id = $(this).parent().find('#id').val();
            jQuery.ajax({
                type: 'GET',
                url: '../api/task2/' + id,
                success: function (task) {
                    console.log("Task: " + task.title);
                    $('#detailEmployeeModal #id').val(id);
                    $('#detailEmployeeModal #title').val(task.title);
                    $('#detailEmployeeModal #content').val(task.content);
                }
            });
        });
    });

    function titleDelete(id, title) {
        document.querySelector(".titleDelete").innerHTML = title;
        console.log(document.querySelector(".titleDelete"));
    }

    /* function Update(id,title,content,status){
         document.querySelector(".titleUpdate").innerHTML = title;
         document.querySelector(".contentUpdate").innerHTML = content;
         document.querySelector(".statusUpdate").innerHTML = status;
     }*/
</script>

</body>
</html>